
extends layout

block content
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container-fluid
				ul#global-nav.nav.pull-left
					a(href='#').brand Control Panel
				button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out
	include modals/alert
	include modals/confirm
	p test
	p haha
	p Voici le comparateur de prix , donnez lui une URL
	h1 Hello
	p #{test6}
	form#formAddUser(name="findprice")

	input#inputURL(type="text", placeholder="URLamazon", name="produit", id="product")
	button#btnSubmit(type="submit") Goooo

	form#formAddProduct(name="addproduct",method="post",action="/addproduct")
	//input#inputProduct(type="text", placeholder="product", name="product") value='#{productname}')
	input#inputPrice(type="text", placeholder="price", name="price", id="test4")
	input#inputUser(type="text", placeholder="user", name="user")
	button#btnSubmit(type="submit") submit

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='js/controllers/priceController.js')
	script(src='/js/views/test2.js')
	script(src='./server/router.js')
	script(src='./server/modules/test.js')
	